/*========================
Universal Styling
=========================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.contactform {
  background: #d9b6ff;
  padding: 20px;
  max-width: 500px;
  border-radius: 4px;
  font-family: sans-serif;
  margin: 0 auto;
  text-align: left;
}

.label_input_wrap {
  display: block;
}

body {
  background-image: url('../images/pawprint-small.png');
}

main {
    background: white;
    max-width: 1817px;
    margin: 0 auto;
    height: 677px;
}
/*========================
Header Styling
=========================*/
header {
    background: white;
    max-width: 1817px;
    margin: 0 auto;
    padding-bottom: 6px;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 45px;
    margin-top: 46px;
}

.container h1 {
  font-size: 45px;
  font-family: sans-serif;
  color: #9009e4;
  padding-top: 15px;
}

.container h2 {
  font-family: sans-serif;
  color: #a56de2;
  font-size: 36px;
}

.container::first-line  {
  line-height: 70px;
}

.container h1:before {
  font-family: "Font Awesome 5 Free";
  content: "\f1b0 ";
  font-size: 38px;
}

.container h1:after {
  font-family: "Font Awesome 5 Free";
  content: "\f1b0";
  font-size: 38px;
}

/*========================
Social Media Styling
=========================*/
.socialmedia {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-top: 24px;
    font-size: 27px;
}

.socialmedia a {
    color: black;
    margin-right: 12px;
}
/*========================
Buttons Styling
=========================*/
.submit,
.reset {
  display: inline;
}

.submit input,
.reset input {
  background: #c000ff;
  padding: 5px 20px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin-right: 12px;
  font-family: sans-serif;
  font-size: 14px;
}

/*========================
Input Section Styling
=========================*/
.input-section {
  margin-bottom: 15px;
}

input {
  padding: 7px 12px;
  border-radius: 6px;
}

textarea {
  font-family: sans-serif;
  font-size: 14px;
  padding: 10px 10px;
  border-radius: 6px;
}

/*========================
Labels Styling
=========================*/
label {
  font-weight: bold;
  margin-bottom: 7px;
  color: #4a0588bf;
}
